.nav {
  background: lightgreen;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  display: inline-block;
  padding: 0 1rem 0 0;
}

.nav__link {
  display: inline-block;
  padding: 1rem;
}
